<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
				
<configuration>

	<typeAliases>
		<typeAlias type="com.ktds.jgbaek.article.vo.ArticleVO" alias="ArticleVO"/>
		<typeAlias type="com.ktds.jgbaek.article.vo.ArticleSearchVO" alias="ArticleSearchVO"/>
	</typeAliases>

	<!-- 이 파일에서 query문을 가져온다. -->
	<mappers>
		<mapper resource="/com/ktds/jgbaek/article/dao/impl/sql/articleDAO.xml"/>
	</mappers>
</configuration>